
@import "tailwindcss";

@font-face {
    font-family: "IRANSans";
    font-style: normal;
    font-weight: 300;
    src: url("/fonts/iran-sans-dn/fonts/woff2/iransansdnlight.woff2") format("woff2"),
    url("/fonts/iran-sans-dn/fonts/woff/iransansdnlight.woff") format("woff");
    font-display: swap;
}

body {
    font-family: "IRANSans", sans-serif;
}


/* Hide scrollbar on mobile */
.no-scrollbar::-webkit-scrollbar {
    display: none !important;
}
.no-scrollbar {
    -ms-overflow-style: none !important; /* IE and Edge */
    scrollbar-width: none !important; /* Firefox */
}
